body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.images {
    display: flex;
}

.image1, .image2, .image3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}